@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

:root{
  --magenta: #ee3d8f;
  --celeste: #37bbed;
  --morado: #9283be;
  --blanco: #fff;
  --gris-claro: #9e9e9e;
  --titulos: #333;
  --textos: #333;
  --fondo-pantalla: rgb(235, 245, 251);
  --fondo-Cabecera: #18a0fb;
  --fondo-Footer: #333;
  --fondo-Menu: #333;
  --texto-footer: #9e9e9e;
  --titulo-Grilla: #727272;
  --borde-inferior-Grilla: #727272;
  --borde-Grilla: #c5c5c5;
  --grafica-amarillo: rgb(252, 210, 0);
  --grafica-amarillo-claro: rgba(252, 210, 0, 0.3);
  --grafica-celeste: rgb(0, 169, 232);
  --grafica-celeste-claro: rgba(0, 169, 232, 0.3);
  --grafica-bordo: rgb(171, 40, 40);
  --grafica-bordo-claro: rgba(171, 40, 40, 0.3);
  --grafica-lila: rgb(112, 76, 159);
  --grafica-lila-claro: rgba(112, 76, 159, 0.5);
  --grafica-lila2: rgb(77, 46, 110);
  --grafica-lila2-claro: rgba(77, 46, 110, 0.5);
  --grafica-gris: rgb(128, 128, 128);
  --grafica-gris-claro: rgb(128, 128, 128, 0.5);
  --grafica-verde: rgb(102, 171, 60);
  --grafica-verde-claro: rgba(102, 171, 60, 0.5);
  --mensaje-usuario-amarillo: #ffc107;
  --mensaje-usuario-verde: #28a745;
  --mensaje-usuario-rojo: #dc3545;
}

* {
  font-family: 'Roboto', sans-serif;
  color: var(--titulos);
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
  line-height: 1.8;
}

h1 {
  font-size: 26px;
  padding: 20px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
}

.menu-mobile {
  display: none;
}

.footer-page {
  background-color:var(--titulos);
  color: var(--gris-claro);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-page a {
  text-decoration: underline;
  color: var(--gris-claro);
}

.grupo-img-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.img-footer {
  height: 40px;
  margin: 10px;
}

@media (max-width: 900px) {
  .footer-page{
    flex-wrap: wrap;
  }
}

.footer-page p {
  color: var(--gris-claro);
}

.header-page {
  background-color: var(--fondo-Cabecera);
  margin: 0 auto auto auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.spacer {
  width: 150px;
}

.logo {
  padding: 0.5em;
}

.menu-page {
  width: 100%;
  height: 50px;
  background-color: var(--titulos);
  display: flex;
  padding: 3.5PX 0;
}

.menu-page ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

@media (max-width: 436px) {
  .menu-page ul {
    display: none;
  }

  .menu-mobile {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
  }

  .img-menu-mobile {
    width: 40px;
  }

}

@media (min-width: 436px) {
  .myLinks a {
    display: none;
  }
  .myLinks ul {
    display: none;
  }
  .myLinks li {
    display: none;
  }
  .myLinks div {
    display: none;
  }
}

.menu-page a {
 padding: 5px 10px;
}

.boton-menu {
  display: inline-block;
  width: 80px;
  margin: 10px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: var(--blanco);
  font-size: 10px;
}

.boton-menu:hover {
  background-color: var(--gris-claro);
}


#boton-generales:hover{
  background-color: var(--gris-claro);
}

#boton-paso:hover {
  background-color: var(--gris-claro);
}

.consultar-menu {
  text-transform: uppercase; 
}

.consultar-menu h4 {
  margin-left: 10px;
  margin-right: 5px;
  color: var(--blanco);
  font-size: 10px;
  text-align: center;
}

.botones-paso-generales {
  text-align: center;
  border-radius: 5px;
}

#boton-paso {
  background-color: var(--magenta);
}

#boton-generales {
  background-color: var(--celeste);
}

#boton-informe {
  border-radius: 15px;
  border: solid 1px var(--gris-claro);
}

.menu-page-pasos-generales {
  width: 100%;
  background-color: var(--titulos);
  display: flex;  
  padding: 6px 0px; 
  justify-content: space-between;
}

.menu-page-pasos-generales ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.menu-page-pasos-generales a {
  padding: 5px 10px;
}


.menu-page-pasos-generales select {
  background: transparent;
  border: none;
  font-size: 14px;
  color: var(--celeste);
  font-weight: bold;
  margin-left: 40px;
  width: 100px;
}


.filtros {
  padding: 0px 10px;
}

#filtrar {
  background-color: #f0f0f0;
  border-radius: 10px;
  border: none;
  width: 80px;
  height: 20px;
  cursor: pointer;
}

.mensaje-usuario{
  width: 400px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  color: var(--blanco);
  font-size: 12px;
  font-weight: 200;
  text-align: center;

}

#info-mesas{
  display: flex;
  flex-wrap: wrap;

}

#mesas-computadas{
  background-color: var(--celeste);
  color: var(--blanco);

}
#electores{
  background-color: var(--magenta);

}
#escrutados{
  background-color: var(--morado);
}

.agregar-informe{
  background-color: var(--gris-claro);
  color: var(--blanco);
  font-size: 10px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  border: none;
  width: 150px;
}
.agregar-informe:hover{
  color: var(--textos);
}

#myChart {
  width: 400px !important;
  height: 400px !important;
}